// Grabbing everything from a folder is called 'globbing'
@import 'styl/*'

body
	background primary
	font 12px
	color red
	border solid 1px @color
	main
		border solid 1px @color
		border-radius(12px)
		cf()
	p
		border-radius()
	li
		// Transparent mixin, coolio
		border-radius 20px