// Grabbing everything from a folder is called 'globbing'
@import 'nib'
@import 'styl/*'

add(a, b, c = a)
	a + b + c

// User created function for padding
pad(a)
	return a a/2 a*2 a/5
	
body
	// Nib it up
	background linear-gradient(top, white, black)
	font 12px
	color red
	border solid 1px @color
	margin-left add(1px,2)
	main
		background rgba(red,0.9)
		color grayscale(red)
		margin-top abs(-3px)
		padding pad(10px)
		border solid 1px @color
		transition(all 0.2s ease)
		border-radius(12px)
		test(25)
		cf()
	p
		border-radius()
	li
		// Transparent mixin, coolio
		border-radius 20px