body {
  background: #475cd1;
  font: 12px;
  color: #be2525;
  border: solid 1px #be2525;
  margin-left: 4px;
}
body main {
  background: rgba(190,37,37,0.9);
  color: #727272;
  margin-top: 3px;
  padding: 10px 5px 20px 2px;
  border: solid 1px #727272;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  padding-right: 25px;
  font: 28px;
  zoom: 1;
}
body main:after,
body main:before {
  content: "";
  display: table;
}
body main:after {
  clear: both;
}
body p {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
body li {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
