// Interpolation in styl(e)us
vendor(property, arg)
	{property} arg
	-webkit-{property} arg
	-moz-{property} arg

transition(args)
	vendor('transition', args)
	
// This is a mixin (default values, rad!)
border-radius(radius = 5px)
	vendor('border-radius', radius)
	//-webkit-border-radius radius
	//border-radius radius	

// Clearfix mixin (for clearing floats and such)
cf()
	zoom 1
	// & is the parent selector
	&:after
	&:before
		content ""
		display table
	&:after
		clear both